@import "ui.base.css";
@import "ui.theme.css";

.table_row_light
 {
    FONT-SIZE: 10px; 
    font-weight:bold;
    COLOR: #000000;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    BACKGROUND-COLOR: #FFF7D9;
    TEXT-ALIGN: left
 }
.table_row_dark
 {
    FONT-SIZE: 10px;
    font-weight:bold;
    COLOR: #000000;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    BACKGROUND-COLOR: #FFF3C6;
    TEXT-ALIGN: left
 }
 .textBoxsmall
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    HEIGHT: 18px
}
.btnClass {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	background-color: #F5CB23;
}
.comboSize2 {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 11px;
}
 


